###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=84b2ebbee88b31f727a935432d415bbd
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###


CLICKHOUSE_HOST=
CLICKHOUSE_PORT=
CLICKHOUSE_USERNAME=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB_NAME=
