{% extends 'base.html.twig' %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    <script type="module" src="/build/assets/index.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/build/assets/style.css" />
{% endblock %} 